header{
background: linear-gradient(45deg,lightgreen,blue,lightgreen);
padding: 10px;
margin: 5px;
border-radius: 15px;
}

header h2{
font-family: times new romen;
}

ul li{
	float: right;
	list-style: none;
}
ul li a{
text-decoration: none;
color: white;
padding: 5px 15px;
border: 1px solid transform:;
margin: 15px;
transition: 0.6 ease;
}
ul li a:hover{
background: linear-gradient(45deg,pink,lightgreen);
color: black;
}
h1{
	text-align: center;
	color: black;
	font-size: 50px;
}
.login input{
margin: 10px;
text-align: center;
border-radius: 5px;
}
.login{
text-align: center;
}

.login button{
padding: 5px;
	margin: 20px;
border-radius: 5px;
}
.login button a{
text-decoration: none;
color: black;
border: 1px solid transform:;
transition: 0.6 ease;
}
.login button a:hover{
	background-color: white;
	color: black;
margin: 10px;
}
.login img{
height: 350px;
float: right;
margin-top: -250px;
}
img{
height: 250px;
margin-top: -250px;

}